body{
    background-color: rgb(222,222,222);
   
}
    h1{
       color: hsl(0,100%,50%);
    }
    h2{
        color: rgb(330,0,80);
       
    }
    h3{
     
        background-color: rgb(255,0,100);
    }
    #h2{
        color: blue;
    }
    #h2_2 {
        color: blue;
    }
    .clase_uno {
        
        text-align: center;
    color: white;
    background-color: black;
    }
    .clase_dos {
        color: black;
        background-color: blue;
    }

    #a{
        color: rgba(255, 0, 0, 0.918);
        font-size:xx-large ;
        background-color: black;
    }
    #aaa{
        background-color: blue;
        opacity: 0.9;
    }
    #p1{
        text-indent: 100px;
        text-align: justify;
        text-decoration: underline; 
         text-decoration: overline;
     text-decoration: line-through; 
 text-decoration: underline line-through; 
    }
    #p2{
        font-weight: 900;
         font-family: "Arial";
       
    }
    #p3{
        font-family: "Tele-marines";

    }
    #p4{
        font-family: "Viner Hand ITC";
    }
    #p5{
font-style: oblique;
    }
    #p6{
        font-size: 30px;
        font-weight: 900;
    }
#lista_gif{
    list-style-image: url('android.ico');
}
    #lista_gif_url{
         list-style-image: url('https://media.giphy.com/media/tBik70kZOJKOk/giphy.gif'); 
    }
   
